<div class="container mt-4">
    <div class="text-center">
        <h2>NTT Data Business Solutions</h2>
    </div>

    <p class="m-0 mt-4"><strong>Address:</strong> Av. Manoel Amalio Florindo, 1234</p>
    <p><strong>Tel.:</strong> 41 3568-4565</p>

    <br>

    <a [routerLink]="{cxRoute: 'product', params: {code:'816802', firstCategory: 'Digital-Compacts', secoundCategory: 'Sony', nameForUrl: 'cyber-shot-w55', manufacturerForUrl: 'sony'}} | cxUrl">View Product</a>
    <br>
    <a [routerLink]="{cxRoute: 'product', params: {code: '300938'}} | cxUrl">   Camera</a>
    <br>
    <a [routerLink]="{cxRoute: 'cart'} | cxUrl">View Your Cart</a>
</div>